@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    src:url("../assets/fonts/Nunito-Regular.ttf")
}
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    src: url("../assets/fonts/Nunito-Bold.ttf")
}
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bolder;
    src: url("../assets/fonts/Nunito-ExtraBold.ttf")
}